@import url("header.css");


:root {
    --cor-de-fundo: #ced0d2;
    --branco: #fcfffc;
    --laranja: #fccb4d;
    --azul-degrade: linear-gradient(rgb(3, 12, 86), rgb(31, 116, 235));;
}


body {
    background-color: var(--cor-de-fundo);
}

.texto1 {

    background-color: rgb(51, 80, 225);

}