@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");

:root {
    --cor-de-fundo: #ced0d2;
    --branco: #fcfffc;
    --laranja: #f39c22;
    --azul-degrade: linear-gradient(rgb(3, 12, 86), rgb(4, 57, 132));
    --fonte-principal: "Poppins";
}


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.texto1 {
    background-color: rgb(51, 80, 225);
}