/* Estilo para o título do carrossel */
.carroseltitulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 1em 0;
}

/* Estilo para as imagens dentro dos slides do swiper */
.swiper-slide img {
    width: 100%; /* Ajustado para 100% para que as imagens se ajustem melhor ao contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilo para os botões de navegação do swiper */
.swiper-button-prev,
.swiper-button-next {
    display: none; /* Esconde os botões de navegação */
}

/* Estilo para a paginação do swiper */
.swiper-pagination {
    position: static; /* 'static' é mais apropriado do que 'initial' para posicionamento padrão */
    margin: 0.5em auto; /* Centraliza a paginação horizontalmente e adiciona espaçamento vertical */
}

.card-descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-btn{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.titulo-descricao{
    color: var(--laranja);
    font-weight: 700;
}

.titulo-descricao-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.texto-descricao{
    font-size: 14px;
}

.btn-item{
    margin: 0 0.5em;
}

.btn-ancora{
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    height: 50px;
    align-items: center;
    width: 140px;
    display: flex;
    justify-content: center;
}

.descricao-img{
    width: 140px;
    display: flex;
    height: 150px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0 0;
}