.cabecalho_menuhamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu\ -\ Copia.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-img {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 90%;
    width: 80%;
    left: 0;
}

.container-botao:checked~.lista-menu {
    display: block;
    text-decoration: none;
}

.container-botao {
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul {
    list-style-type: none;
}

.lista-menu-titulo,
.lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;
}

.lista-menu-link {
    background-color: var(--azul-degrade);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}